* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: sans-serif;
}

.container {
  width: 90%;
  height: 600px;
  outline: 2px solid;
  margin: 40px auto;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  /* grid-template-rows: repeat(5, 1fr); */
  /* grid-auto-rows: 100px; */

  /* column-gap: 1em;
  row-gap: 1em; */
  gap: 10px; /* filas, columnas */
  /* grid-template-areas:
    "element1 element1 element1 element2 element2"
    "element1 element1 element1 element2 element2"
    "element3 element3 element3 element2 element2"
    "element3 element3 element3 element2 element2"
    "element4 element4 element4 element4 ."; */
}

.item {
  /* width: 100px; */
  /* height: 100px; */
  color: #fff;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item1 {
  background-color: slateblue;
  /* grid-column: 1 / 4;
  grid-row: 1 / 3; */
  /* grid-area: element1; */
}

.item2 {
  background-color: deeppink;
  /* grid-column: 4 / 6;
  grid-row: 1 / 5; */
  /* grid-area: element2; */
}

.item3 {
  background-color: seagreen;
  /* grid-column: 1 / 4;
  grid-row: 3 / 5; */
  /* grid-area: element3; */
}

.item4 {
  background-color: brown;
  /* grid-column: 1 / -1;
  grid-row: 5 / -1; */
  /* grid-area: element4; */
}

.item5 {
  background-color: cornflowerblue;
}

.item6 {
  background-color: rebeccapurple;
}

/* ------------ MEDIA QUERIES ------------ */
@media (min-width: 700px) {
  /* .container {
    grid-template-areas:
      "element1 element1 element1 element2 element2"
      "element1 element1 element1 element2 element2"
      "element3 element3 element3 element2 element2"
      "element3 element3 element3 element2 element2"
      "element4 element4 element4 element2 element2";
  } */
}
