* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/* ------------ VARIABLES O CUSTOM PROPERTIES ------------ */
:root {
  /* Typographys */
  --poppins: "Poppins", sans-serif;
  --open-sans: "Open Sans", sans-serif;

  /* Colors */
  --pink: hsl(322, 100%, 66%);
  --light-pink: hsl(321, 100%, 78%);
  --light-red: hsl(0, 100%, 63%);
  --very-dark-cyan: hsl(192, 100%, 9%);
  --very-pale-blue: hsl(207, 100%, 98%);

  --padding-container: 70px 0;
}

/* ------------ ESTILOS GENERALES ------------ */

body {
  font-family: var(--open-sans);
}

/* ------------ HEADER NAVEGACIÓN ------------ */
.hero {
  min-height: 100vh;
  position: relative;
  --wave-bottom: url(../images/bg-section-top-mobile-1.svg);
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden; /* Para que todo lo que salga del contenedor se esconda */
  padding: var(--padding-container);
}

.hero__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  --padding-container: 60px 0 45px;
}

.hero__logo {
  width: 45%;
  max-width: 160px;
}

.hero__huddle {
  width: 100%;
  display: block;
}

.hero__cta {
  color: var(--light-pink);
  border: 2px solid;
  padding: 6px 16px;
  border-radius: 30px;
  font-weight: 600;
  box-shadow: 0 0 1px;
}

/* ------------ HEADER MAIN ------------ */
.hero__main {
  text-align: center;
  color: var(--very-dark-cyan);
}

.hero__title {
  font-family: var(--poppins);
}

.hero__paragraph {
  width: 90%;
  margin: 16px auto;
  line-height: 1.5;
}

.cta {
  display: inline-block;
  background-color: var(--pink);
  color: #fff;
  padding: 16px 30px;
  border-radius: 30px;
  margin-top: 16px;
  font-weight: 600;
}

.hero__picture {
  margin-top: 80px;
}

.hero__img {
  display: block;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

/* ------------ HEADER NUMBERS ------------ */
.hero__numbers {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
  gap: 70px;
}

.hero__item {
  overflow: hidden; /* Para que todo lo que salga de .hero__item se esconda */
}

.hero__icon {
  display: block;
}

.hero__number {
  font-size: 60px;
}

.wave {
  position: absolute;
  width: 100%;
  height: 100px;
  background-repeat: no-repeat;
  background-size: 100% 100px;
}

.wave--bottom {
  left: 0;
  bottom: 0;
  background-image: var(--wave-bottom);
}

.wave--top {
  left: 0;
  top: 0;
  background-image: var(--wave-top);
}

/* ------------ MAIN ------------ */
.section {
  background-color: var(--very-pale-blue);
  --padding-container: 110px 0;
}

.section--white {
  background-color: white;
  position: relative;
  --padding-container: 210px 0;
  --wave-top: url(../images/bg-section-bottom-mobile-1.svg);
  --wave-bottom: url(../images/bg-section-top-mobile-2.svg);
}

.section__container {
  display: flex;
  flex-direction: column;
}

.section__img {
  width: 100%;
  max-width: 350px;
  display: block;
  margin: 0 auto;
}

.section__texts {
  margin-top: 50px;
  text-align: center;
}

.subtitle {
  margin-bottom: 16px;
  font-family: var(--poppins);
}

/* ------------ MAIN QUESTION ------------ */
.question {
  position: relative;
  text-align: center;
  --padding-container: 190px 0 210px;
  --wave-top: url(../images/bg-section-bottom-mobile-2.svg);
  --wave-bottom: url(../images/bg-footer-top-mobile.svg);
}

/* ------------ FOOTER ------------ */
.footer {
  color: #fff;
  background-color: var(--very-dark-cyan);
}

.footer__title {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 16px;
  font-family: var(--poppins);
}

.footer__paragraph {
  line-height: 1.5;
  margin: 16px 0 50px;
}

.footer__form {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 70px;
}

.footer__input {
  flex-basis: 100%;
  flex-grow: 1;
  font-size: 1rem;
  font-family: var(--open-sans);
  border: none;
  outline: none;
  border-radius: 3px;
  padding: 12px 6px;
  margin-bottom: 20px;
}

.footer__cta {
  font-size: 1rem;
  font-family: var(--open-sans);
  background-color: var(--pink);
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 40px;
  font-weight: 600;
  margin-left: auto;
}

.footer__logo {
  /* background-color: black; */
  color: #fff;
}

.footer__contact {
  line-height: 50px;
}

.footer__contact::after {
  content: "Phone: +1-543-123-4567";
  margin-left: 10px;
}

.footer__contact--email::after {
  content: "example@huddle.com";
}

.footer__social {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer__link {
  width: 40px;
}

.footer__icon {
  width: 100%;
  display: block;
}

/* ------------ MEDIAQUERIES ------------ */
@media (min-width: 768px) {
}
