* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: sans-serif;
}

.nav {
  background-color: #264de4;
  padding: 0 100px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

.nav__logo {
  width: 48px;
  height: 48px;
  background-color: white;
  border-radius: 1px;
}

.nav__link {
  color: inherit;
  margin-left: 20px;
}

.nav__link--active {
  border-bottom: 2px solid #fff;
}
